:root {
  --primary-color: #f0ede7;
  --secondary-color: #6ddda1;
}

button {
  background: var(--secondary-color);
  color: #fff;
  border: none;
  position: relative;
  height: 50px;
  font-size: 1.3em;
  padding: 5px 5px;
  cursor: pointer;
  transition: 800ms ease all;
  outline: none;
  margin: 10px;
  border-radius: 15px;
}
button:hover {
  background: var(--primary-color);
  color: var(--secondary-color);
}
button:before,
button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: var(--secondary-color);
  transition: 400ms ease all;
}
button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
button:hover:before,
button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
